/** Page Front **/
.page-front {
  letter-spacing: 1px;
}
ul.grid-boxes {
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.35s cubic-bezier(0, 0, 0.25, 1);
  margin: 0;
  margin-top: 20px;
}
ul.grid-boxes > li {
  height: 160px;
  padding: 0;
  margin: 0;
  padding-right: 10px;
  padding-bottom: 10px;
}
ul.grid-boxes > li > .col-wrap {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.2);
}
ul.grid-boxes > li[data-cell="3"] {
  min-height: 400px;
}
ul.grid-boxes > li > .game-pic {
  text-align:center;
  padding:20px;
  font-size:20px;
}
ul.grid-boxes > li > .user-short-info > .head {
  text-transform: uppercase;
  display: inline-block;
  margin-top: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 50px;
}
ul.grid-boxes > li > .user-short-info > .head span {
  font-size: 13px;
  line-height: 2.42857143;
  display: block;
  font-weight: 100;
  letter-spacing: 1px;
  color: #333;
}
ul.grid-boxes > li > .user-short-info > .float-right {
  float: right;
  margin-top: 28px;
  margin-right: 40px;
}
ul.grid-boxes > li > .user-short-info .float-right > .cv-btn {
  display: block;
  margin-bottom: 8px;
}
ul.grid-boxes > li > .user-short-info .float-right > .cv-btn a {
  border: 1px solid #eee;
  display: inline-block;
  padding: 7px 28px;
  color: #545454;
  box-shadow: 0 1px 1px rgba(165, 165, 165, 0.1);
  width: 100%;
  text-align: right;
  line-height: 1.92857143;
}
ul.grid-boxes > li > .user-short-info .float-right > .cv-btn a:hover,
ul.grid-boxes > li > .user-short-info .float-right > .cv-btn a:focus,
ul.grid-boxes > li > .user-short-info .float-right > .cv-btn a:active {
  text-decoration: none;
}
ul.grid-boxes > li > .user-short-info .float-right > .cv-btn a:before {
  line-height: 1.42857143;
  float: left;
  font-size: 18px;
}
ul.grid-boxes > li > .user-short-info .float-right > .socials {
  margin-right: -4px;
}
ul.grid-boxes > li > .user-short-info .float-right > .socials > li {
  display: inline-block;
  margin-right: 4px;
}
ul.grid-boxes > li > .user-short-info .float-right > .socials > li > a {
  padding: 8px 14px;
  display: block;
  color: #545454;
  border: 1px solid #ededed;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
ul.grid-boxes > li > .user-short-info .float-right > .socials > li > a:before {
  line-height: 1.42857143;
  font-size: 12px;
}
ul.grid-boxes > li > .user-short-info .float-right > .socials > li > a:hover,
ul.grid-boxes > li > .user-short-info .float-right > .socials > li > a:focus,
ul.grid-boxes > li > .user-short-info .float-right > .socials > li > a:active {
  text-decoration: none;
}
ul.grid-boxes > li > .user-short-info .float-right > .socials > li > a:hover {
  color: #fff;
  border: 1px solid #fff;
}
ul.grid-boxes > li > .user-short-info .float-right > .socials > li:nth-child(1) > a:hover {
  background: #5ad8ff;
}
ul.grid-boxes > li > .user-short-info .float-right > .socials > li:nth-child(2) > a:hover {
  background: #4467b0;
}
ul.grid-boxes > li > .user-short-info .float-right > .socials > li:nth-child(3) > a:hover {
  background: #118cc7;
}
ul.grid-boxes > li > .user-short-info .float-right > .socials > li:nth-child(4) > a:hover {
  background: #ea4c89;
}
ul.grid-boxes > li > .start-box,
ul.grid-boxes > li > .readme-box,
ul.grid-boxes > li > .status-box,
ul.grid-boxes > li > .hs-box {
  display: table;
}
ul.grid-boxes > li > .start-box > a,
ul.grid-boxes > li > .readme-box > a,
ul.grid-boxes > li > .status-box > a,
ul.grid-boxes > li > .hs-box > a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #545454;
}
ul.grid-boxes > li > .start-box > a:before,
ul.grid-boxes > li > .readme-box > a:before,
ul.grid-boxes > li > .status-box > a:before,
ul.grid-boxes > li > .hs-box > a:before {
  line-height: 1.92857143;
  font-size: 30px;
  display: block;
}
ul.grid-boxes > li > .start-box > a:hover,
ul.grid-boxes > li > .readme-box > a:hover,
ul.grid-boxes > li > .status-box > a:hover,
ul.grid-boxes > li > .hs-box > a:hover,
ul.grid-boxes > li > .start-box > a:active,
ul.grid-boxes > li > .readme-box > a:active,
ul.grid-boxes > li > .status-box > a:active,
ul.grid-boxes > li > .hs-box > a:active,
ul.grid-boxes > li > .start-box > a:focus,
ul.grid-boxes > li > .readme-box > a:focus,
ul.grid-boxes > li > .status-box > a:focus,
ul.grid-boxes > li > .hs-box > a:focus {
  text-decoration: none;
}
ul.grid-boxes > li > .status-box > a,
ul.grid-boxes > li > .readme-box > a,
ul.grid-boxes > li > .hs-box > a {
  color: #fff;
}
ul.grid-boxes > li > .status-box {
  background: #2196F3;
}
ul.grid-boxes > li > .readme-box {
  background: #1E88E5;
}
ul.grid-boxes > li > .hs-box {
  background: #1565C0;
}

ul.grid-boxes .headerIcon {
	display:block;
	padding: 5px;
}

/** Media Queries - Responsive Layouts **/
/*
	Between 992px - 1200px (for mid-screen desktop)
	-----------------------------------------------
 */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .page-front {
    max-width: 900px;
  }
  ul.grid-boxes > li {
    width: 25%;
    float: left;
    height: 180px;
  }
  ul.grid-boxes > li > .user-short-info > .head {
    margin-top: 45px;
  }
  ul.grid-boxes > li > .user-short-info > .float-right {
    margin-top: 38px;
  }
  ul.grid-boxes > li[data-cell="2"],
  ul.grid-boxes > li[data-cell="5"] {
    width: 75%;
  }
  ul.grid-boxes > li > .featured-post .post-1 > .right > .bottom,
  ul.grid-boxes > li > .featured-post .post-2 > .right > .bottom {
    margin-top: 5px;
  }
}
/**
 * Between 768px - 991px  || < 768px
 * -----------------------------------------
 */
@media screen and (min-width: 768px) and (max-width: 991px), screen and (max-width: 768px) {
  ul.grid-boxes > li {
    width: 25%;
    float: left;
  }
  ul.grid-boxes > li[data-cell="2"] {
    width: 50%;
  }
  ul.grid-boxes > li > .user-short-info > .head {
    font-size: 22px;
    width: 100%;
    margin: 0;
    margin-top: 10px;
    text-align: center;
  }
  ul.grid-boxes > li > .user-short-info > .float-right {
    float: none;
    margin: 0;
  }
  ul.grid-boxes > li > .user-short-info > .float-right > .cv-btn {
    display: block;
    text-align: center;
  }
  ul.grid-boxes > li > .user-short-info > .float-right > .cv-btn a {
    width: 180px;
  }
  ul.grid-boxes > li > .user-short-info > .float-right .socials {
    display: none;
  }
  ul.grid-boxes > li[data-cell="5"] {
    width: 100%;
  }
}
/**  
 * For Tablets, iPhones (768px)
 * ------------------------------------------
 */
@media screen and (max-width: 768px) {
  ul.grid-boxes > li {
    padding-right: 8px;
    padding-bottom: 8px;
  }
  ul.grid-boxes > li[data-cell="5"],
  ul.grid-boxes > li[data-cell="6"],
  ul.grid-boxes > li[data-cell="3"] {
    padding-right: 0;
  }
}

@media screen and (max-width: 640px) {
  .page-front {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  ul.grid-boxes > li {
    padding-right: 5px;
    padding-bottom: 5px;
  }
}
/**
 * For Very small Devices (low end )
 */
@media screen and (max-width: 480px) {
  .page-front {
    max-width: 380px;
    margin: 0 auto;
  }
  ul.grid-boxes > li {
    width: 50%;
    height: 160px;
    float: left;
  }
  ul.grid-boxes > li[data-cell="1"] {
    text-align: center;
  }
  ul.grid-boxes > li[data-cell="2"],
  ul.grid-boxes > li[data-cell="5"] {
    width: 100%;
    padding-right: 0;
  }
  ul.grid-boxes > li[data-cell="8"] {
    padding-right: 0;
  }
  ul.grid-boxes > li > .user-short-info > .head {
    margin-top: 12px;
  }
  ul.grid-boxes > li[data-cell="5"] {
    display: none;
  }
}
/*------------------------------------*\
    $VARIABLES	
\*------------------------------------*/
::selection {
  background-color: #d1e3ff;
}
::-moz-selection {
  background-color: #d1e3ff;
}
body {
  color: #545454;
  overflow-x: hidden;
  background: url("../images/glass.jpg") no-repeat center center fixed #fff !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
	background:none;	
}

.SmallBox {
	position: absolute;
	right: 5px;
	top: 20px;
	width: 420px;
	color: #fff;
	z-index: 9999;
	overflow: hidden;
	border: 1px solid transparent;
}

/*----------------------------------------*\
	GAME STUFF
\*---------------------------------------*/
.minesweeper .face {
	background: transparent;
	border: none;
}

.minesweeper .game_difficulty{
	margin: 10px 0;
}

.minesweeper #game {
	margin: 10px auto;

}

.minesweeper #game ul {
	margin:0px;
	padding:0px;
	height: 16px;
}

.minesweeper #game li {
	padding:0px;
	margin:0px;
	border:1px solid #666;
	width:16px;
	height: 16px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	font-size:1em;
	color : #000;
	background-color:#ababab;
}

.minesweeper #game li.revealed {
	border:1px solid #ccc;
	background-color:#fffffa;
}

.minesweeper #game li.tile {
    width: 16px;
    height: 16px;
    float: left;
    background-image: url("../images/clear.png");
}

.minesweeper #game li.flag {
    background-image: url("../images/flag.png");
}

.minesweeper #game li.mine {
    background-image: url("../images/mine.png");
}
.minesweeper #game li.mine_hit {
    background-image: url("../images/mine_hit.png");
}
.minesweeper #game li.mine_marked {
    background-image: url("../images/mine_marked.png");
}

.minesweeper #game li.tile_1 {
    background-image: url("../images/tile_1.png");
}
.minesweeper #game li.tile_2 {
    background-image: url("../images/tile_2.png");
}
.minesweeper #game li.tile_3 {
    background-image: url("../images/tile_3.png");
}
.minesweeper #game li.tile_4 {
    background-image: url("../images/tile_4.png");
}
.minesweeper #game li.tile_5 {
    background-image: url("../images/tile_5.png");
}
.minesweeper #game li.tile_6 {
    background-image: url("../images/tile_6.png");
}
.minesweeper #game li.tile_7 {
    background-image: url("../images/tile_7.png");
}
.minesweeper #game li.tile_8 {
    background-image: url("../images/tile_8.png");
}